<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminitrador - Pagina Principal</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:5500/templates/carrera.html">Gestor de Carreras</a>
        <a href="http://127.0.0.1:5500/templates/secciones.html">Gestor de Secciones</a>
        <a href="">Gestor de Profesores</a>
        <a href="">Gestor de Materias</a>
        <a href="">Gestor de Estudiantes</a>
        <a href="http://127.0.0.1:5500/templates/pre_horarios.html">Crear Horarios</a>
        {{session['jerarquia']}}
    </div>
</body>
</html>